version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.12
    working_directory: ~/repo
    steps:
      - checkout
      - run: 
          command: |
            sudo npm install -g gitbook-cli
            gitbook install
            gitbook build
      - store_artifacts:
          path: _book
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/repo
  deploy:
    docker:
      - image: circleci/node:8.12
    working_directory: ~/repo
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run: 
          command: |
            git config --global user.email "$(git log --format='%ae' $CIRCLE_SHA1^!)"
            git config --global user.name "$(git log --format='%an' $CIRCLE_SHA1^!)"
            git checkout gh-pages
            cp -R _book/* .
            git clean -fx _book
            git add .
            git commit -am "Update docs"
            git push -q -f https://${GITHUB_PERSONAL_TOKEN}@github.com/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}.git gh-pages
    
workflows:
  version: 2
  build_deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - gh-pages
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - master